@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
.head,
.first-container,
.second-container,
.third-container,
.fourth-container,
.foot {
    display: flex; 
    justify-content: space-around;
    padding:10px;
    margin:0px;
}
/* ================================== Header =================================== */
.head {
    padding: 30px 10%;
    background-color: #1f2937;
    color: white;
    align-self: stretch;
    justify-content: space-around;
}

.logo {
 font-size: 24px; 
 padding-top: 20px;
 padding-left: 100px;
 flex-grow: 2;
 justify-content: space-around;
}

.nav_links {
    list-style: none; 
    flex-grow: 2;
    padding-top: 20px;
 padding-right: 100px;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;

}
.nav_links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: white;
}
.nav_links li a:hover {
    color: #3882f6;
}
/* =============================== First Container ================================ */
.first-container {
    color: white; 
    background-color: #1f2937;
    padding: 100px;
}

#left-side {
    flex-grow: 2; 
    column-gap: 30px;
    align-content: center;
}

.first-header {
 font-size: 48px;
 font-style: bolder;
 padding: 10px;
}

.first-subtext {
font-size: 18px;
color: #e5e7eb;
padding: 10px;
}

.first-button {
background-color: #3882f6;
border-radius: 20px;
border: none; 
padding: 10px 30px; 
transition: all 0.3s ease 0s;
cursor: pointer;
}

.first-button:hover {
    color: #1f2937;
    background-color: #f9faf8;
}

#right-side {
    flex-grow: 2; 
    text-align: center;
    color:#F9FAF8;
    width:500px;
    height:250px;
    background-color: gray;
    border-radius: 15px;
}

#right-side p{
    margin:90px 0 0 0;
}

/* =============================== Second Container ================================ */
.second-container {
    padding: 100px;
    flex-direction: column;
}

.second-header {
    text-align: center;
    padding-bottom: 50px;
}

.second-subtext {
    width:180px;
    text-align: center;  
    margin-top: 200px;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    gap:20px;
}

.card {
    height:200px;
    border-radius: 10px;
    border:solid #3882f6 3px;
    width:200px;
}


/* =============================== Third Container ================================ */
.third-container {
    padding: 100px;
    background-color: #e5e7eb;
    flex-direction: column;
    justify-content: center;
}

#third-text{
    margin-bottom:auto;
    font-weight: lighter;
    font-size: 32px;
    font-style: italic;
    padding: 0 100px 0 100px; 
    font-weight: 100; 
}

#third-subtext {
    padding-left: 950px;
    align-items: flex-end;
}

/* =============================== Fourth Container ================================ */
.fourth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    color: white; 
    
}

.sign-up {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    padding: 30px;
    width: 60%;
    border-radius: 10px;
}

.sign-up button {
    border: 2px solid #FFF;
    background-color: #3882f6; 
    padding: 10px 30px;
    border-radius: 10px;
    color: white; 
}

.sign-up button:hover {
    color: 3882f6; 
    background-color: white; 
}

/* =============================== Footer ================================ */
.foot {
    padding: 20px;
    display: block;
    text-align: center;
    background-color: #1f2937;
    color: white; 
    
}